body {
    background-color: #eee;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    pointer-events: none;
    font-size: 128px;
}

.App-header {
    background-color: #282c34;
    /*min-height: 30vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 30px;
}

.App-link {
    color: #61dafb;
}

.feed {
    max-width: 600px;
    margin: 0 auto;
}


.post {
    padding: 30px;
    margin-top: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px #ddd;
    text-align: left;
}
p.postText {
    font-size: 24px;
    margin: 0;
    padding: 0;
}
p.date {
    margin-top: 5px;
    margin-bottom: -5px;
    font-size: 80%;
    opacity: 0.5;
    text-align: right;
}

form.search {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

input.primary {
    flex-grow: 1;
    height: 24px;
    width: auto;
    padding: 7px;
    line-height: 1;
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px #ddd inset;
}

input.primary:focus {
    outline: none;
    border-color: #88f;
}

button.primary {
    text-align: center;
    outline: none;
    line-height: 1;
    font-size: 24px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #227;
    margin-left: 25px;
    background: #449;
    color: #fff;
    box-shadow: 0 3px 8px #aaa;
}

button.primary:focus {
    background: #338;
    outline: none;
}

button.primary:hover {
    background: #55a;
    box-shadow: 0 2px 5px #aaa;
}

button.primary:active {
    outline: none;
    box-shadow: 0 2px 5px #fff;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
